p { color: black; font-family: Arial black;font-size:20pt; font-weight:bold; }
body {bgcolor:green}

d { color: black; font-family: Baskerville old face;font-size:20pt; font-weight:bold; }
body {bgcolor:green}

img {height:auto; width:200 }